/* Variables */
:root {
  --dark: #292a2c;
  --light: #758197;
  --bg: #f4f7fa;
  --color: #ff7b66;

  --h3-padding: 30px 0 15px 0;
  --h4-padding: 20px 0 10px 0;
  --h5-padding: 10px 0 0 0;
  --card-text-padding: 15px 0 0 0;
  --card-details-padding: 5px 0 0 0;
  --paragraph-padding: 15px 0 0 0;

  --horizontal-padding: 25px;
  --vertical-padding: 20px;
  --equal-padding: var(--horizontal-padding);
  --smaller-equal-padding: var(--vertical-padding);

  --standard-time: 0.15s;
}

/* Reset default styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
}

/* Layout */
.container {
  display: grid;
  grid-template: auto 1fr / auto 1fr;
  min-width: 330px;
  min-height: 100vh;
  background-color: var(--bg);
}

.aside {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  grid-column: 1/3;
  border-bottom: solid 1px var(--light);
}

.nav {
  grid-column: 1/2;
  padding: var(--equal-padding);
  border-right: solid 1px var(--light);
}

.content {
  grid-column: 2/3;
}

.category-container {
  padding: var(--equal-padding);
  border-bottom: solid 1px var(--light);;
}

.card-layout {
  display: grid;
  grid-gap: 1.25em;
  grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
}

/* Elements */
.logo a {
  display: grid;
  place-items: center;
  padding: 15px var(--horizontal-padding);
  text-decoration: none;
}

.suggest-bookmark,
.mobile-menu {
  display: grid;
  padding: 0 var(--horizontal-padding);
  place-items: center;
}

.mobile-menu {
  display: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

/* Cards */
.card {
  display: grid;
  grid-template-rows: auto auto;
  align-content: baseline;
  /* border: solid 1px black; */
}

.card-hover:hover h5 a {
  box-shadow: 0 3px var(--color);
  text-shadow: 0 0 15px #ffd2cc;
}

.card-hover:hover .card-image-wrapper {
  opacity: 0.85;
  box-shadow: 0 3px 30px #D3D6D9;
  border-radius: 10px;
}

.card-image-wrapper {
  position: relative;
  left: -1px;
  border-radius: 10px;
  overflow: hidden;
  transition: var(--standard-time);
}

.card-text-wrapper {
  padding: var(--card-text-padding);
}

/* Borders */
.border-left {
  border-left: solid 1px var(--light);
}

/* Utilities */
.hide {
  display: none;
}

/* Typography */
h3 {
  padding: var(--h3-padding);
  font-weight: 700;
  font-size: 42px;
}

h3:first-child {
  padding-top: 0;
}

h4 {
  padding: var(--h4-padding);
  font-size: 20px;
  font-weight: 400;
}

h5,
h6 {
  font-size: 14px;
  padding: var(--h5-padding);
  color: var(--dark);
}

h5:first-child {
  padding-top: 0;
}

a {
  color: var(--dark);
  text-decoration: none;
  transition: var(--standard-time);
}

a:not(.logo a):hover {
  box-shadow: 0 3px var(--color);
  text-shadow: 0 0 15px #ffd2cc;
}

.card p {
  padding: var(--card-details-padding);
  color: var(--light);
  font-size: 0.8em;
}

p {
  padding: var(--paragraph-padding);
  color: var(--light);
}

small {
  display: block;
  padding: var(--card-details-padding);
  font-size: 0.7em;
  line-height: 1.25;
  color: var(--light);
}

/* Nav */
.nav li {
  padding: 0.5em 0;
  list-style: none;
}

.nav li:first-child {
  padding-top: 0;
}

.nav li:last-child {
  padding-bottom: 0;
}

.nav li a {
  font-weight: 400;
  color: var(--dark);
  text-decoration: none;
}

.nav li a.active {
  color: var(--color);
  box-shadow: 0 3px #ff7b66;
  text-shadow: 0 0 15px #ffd2cc;
}

.nav li a:hover {
  color: var(--color);
  box-shadow: 0 3px var(--color);
  text-shadow: 0 0 15px #ffd2cc;
}

/* Media Queries */
@media (max-width: 580px) {
  .nav {
    display: none;
  }

  .suggest-bookmark {
    display: none;
  }

  .mobile-menu {
    display: grid;
  }
}
